Library/
Temp/
.vs/
obj/
UnityWebGLMicrophone.sln
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Test/package-lock.json
Test/node_modules/
UnityWebGLMicrophone.csproj
UnityWebGLMicrophone.Plugins.csproj
Build/Build/
Build/node_modules/
Build/TemplateData/
